# PROXMOX CREDENTIALS TEMPLATE
# Copy this file to terraform.tfvars and fill in your real values
proxmox_token_id     = "user@pve!tokenid"
proxmox_token_secret = "00000000-0000-0000-0000-000000000000"
proxmox_ssh_username = "root"

name       = "my-vm"
node_name  = "homelab"
memory     = 2048
vcpu       = 2
disk_size  = 20
vmbr0_ipv4 = "192.168.8.100/24"
vmbr0_gw   = "192.168.8.1"
vmbr1_ipv4 = "192.168.50.100/24"
