# Container
PUID=
PGID=
TZ=

# HOST VM info
REDIS_ADDR=
HOST=
HOST_NAME=
HOST_USER=

# Portainer agent
EDGE_ID=
EDGE_KEY=

# Calibre
CALIBREWEB_USERNAME=
CALIBREWEB_PASSWORD=

# Jellyfin
JELLYFIN_API_KEY=

# Portainer
PORTAINER_KEY=

# QNAP
QNAP_USERNAME=
QNAP_PASSWORD=

# Transmission
TRANSMISSION_USER=
TRANSMISSION_PASS=

# Proxmox
PROXMOX_USERNAME=
PROXMOX_PASSWORD=

# Filebrowser
FILEBROWSER_USERNAME=
FILEBROWSER_PASSWORD=
