{
  "overrides": [
    {
      "files": ["*.json", "*.code-workspace"],
      "options": {
        "parser": "json",
        "tabWidth": 2
      }
    },
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "tabWidth": 2,
        "singleQuote": false,
        "bracketSpacing": false
      }
    }
  ]
}
