services:
  transmission:
    image: lscr.io/linuxserver/transmission:4.1.1
    container_name: transmission
    ports:
      - 9091:9091
      - 51413:51413
      - 51413:51413/udp
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - TRANSMISSION_CACHE_SIZE_MB=128
      - USER=${TRANSMISSION_USER}
      - PASS=${TRANSMISSION_PASS}
    volumes:
      - /data/transmission/config:/config
      - /media/downloads/complete:/downloads/complete
      - /media/downloads/incomplete:/downloads/incomplete
    restart: unless-stopped