[Unit]
Description=Transmission

[Container]
ContainerName=transmission
Image=lscr.io/linuxserver/transmission:4.1.3
PublishPort=9091:9091
PublishPort=51413:51413
PublishPort=51413:51413/udp
EnvironmentFile=/opt/docker/transmission/transmission.env
Volume=/data/transmission/config:/config
Volume=/media/downloads/complete:/downloads/complete
Volume=/media/downloads/incomplete:/downloads/incomplete

[Service]
Restart=always

[Install]
WantedBy=default.target
