services:
  homepage:
    image: ghcr.io/gethomepage/homepage:v1.12.3
    container_name: homepage
    ports:
      - 3000:3000
    environment:
      - TZ=${TZ}
      - HOMEPAGE_ALLOWED_HOSTS=home.homelab.lan,home.moreaulab.ca
      - HOMEPAGE_VAR_CALIBREWEB_USERNAME=${CALIBREWEB_USERNAME}
      - HOMEPAGE_VAR_CALIBREWEB_PASSWORD=${CALIBREWEB_PASSWORD}
      - HOMEPAGE_VAR_FILEBROWSER_USERNAME=${FILEBROWSER_USERNAME}
      - HOMEPAGE_VAR_FILEBROWSER_PASSWORD=${FILEBROWSER_PASSWORD}
      - HOMEPAGE_VAR_JELLYFIN_API_KEY=${JELLYFIN_API_KEY}
      - HOMEPAGE_VAR_PROXMOX_USERNAME=${PROXMOX_USERNAME}
      - HOMEPAGE_VAR_PROXMOX_PASSWORD=${PROXMOX_PASSWORD}
      - HOMEPAGE_VAR_QNAP_USERNAME=${QNAP_USERNAME}
      - HOMEPAGE_VAR_QNAP_PASSWORD=${QNAP_PASSWORD}
      - HOMEPAGE_VAR_TRANSMISSION_USERNAME=${TRANSMISSION_USER}
      - HOMEPAGE_VAR_TRANSMISSION_PASSWORD=${TRANSMISSION_PASS}
      - HOMEPAGE_VAR_IMMICH_API_KEY=${IMMICH_API_KEY}
      - HOMEPAGE_VAR_CLOUDFLARE_ACCOUNT_ID=${CLOUDFLARE_ACCOUNT_ID}
      - HOMEPAGE_VAR_CLOUDFLARE_TUNNEL_ID=${CLOUDFLARE_TUNNEL_ID}
      - HOMEPAGE_VAR_CLOUDFLARE_API_KEY=${CLOUDFLARE_API_KEY}
      - HOMEPAGE_VAR_GRAFANA_ADMIN_USER=${GRAFANA_ADMIN_USER}
      - HOMEPAGE_VAR_GRAFANA_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD}
    volumes:
      - ./config:/app/config
      - ./config/logs:/app/config/logs
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: unless-stopped