TZ={{ timezone }}
HOMEPAGE_ALLOWED_HOSTS=home.moreaulab.ca,{{ ansible_host }}:3000,localhost:3000
HOMEPAGE_VAR_JELLYFIN_API_KEY={{ vault_jellyfin_api_key }}
HOMEPAGE_VAR_PROXMOX_USERNAME={{ vault_proxmox_username }}
HOMEPAGE_VAR_PROXMOX_PASSWORD={{ vault_proxmox_password }}
HOMEPAGE_VAR_PBS_TOKEN_ID={{ vault_pbs_token_id }}
HOMEPAGE_VAR_PBS_TOKEN_SECRET={{ vault_pbs_token_secret }}
HOMEPAGE_VAR_QNAP_USERNAME={{ vault_qnap_username }}
HOMEPAGE_VAR_QNAP_PASSWORD={{ vault_qnap_password }}
HOMEPAGE_VAR_TRANSMISSION_USERNAME={{ vault_transmission_user }}
HOMEPAGE_VAR_TRANSMISSION_PASSWORD={{ vault_transmission_pass }}
HOMEPAGE_VAR_IMMICH_API_KEY={{ vault_immich_api_key }}
HOMEPAGE_VAR_CLOUDFLARE_ACCOUNT_ID={{ vault_cloudflare_account_id }}
HOMEPAGE_VAR_CLOUDFLARE_TUNNEL_ID={{ vault_cloudflare_tunnel_id }}
HOMEPAGE_VAR_CLOUDFLARE_API_KEY={{ vault_cloudflare_api_key }}
HOMEPAGE_VAR_GRAFANA_ADMIN_USER={{ vault_grafana_admin_user }}
HOMEPAGE_VAR_GRAFANA_ADMIN_PASSWORD={{ vault_grafana_admin_password }}
HOMEPAGE_VAR_HOMEASSISTANT_API_KEY={{ vault_homeassistant_api_key }}
HOMEPAGE_VAR_OPENWEATHERMAP_API_KEY={{ vault_open_weather_map_apikey }}
HOMEPAGE_VAR_PVE_TOKEN_ID={{ vault_pve_token_id }}
HOMEPAGE_VAR_PVE_TOKEN_SECRET={{ vault_pve_token_secret }}
HOMEPAGE_VAR_TAILSCALE_API_KEY={{ vault_tailscale_api_key }}
HOMEPAGE_VAR_TAILSCALE_DEVICE_ID={{ vault_tailscale_device_id }}
