PUID={{ nas_puid }}
PGID={{ nas_pgid }}
TZ={{ timezone }}
WEBSOCKET_ENABLED=true
SIGNUPS_ALLOWED=true
ADMIN_TOKEN={{ vault_bitwarden_admin_token }}
DOMAIN=https://vault.moreaulab.ca
DATABASE_URL=mysql://vault_user:{{ vault_bitwarden_mariadb_password }}@127.0.0.1/vaultwarden
YUBICO_CLIENT_ID={{ vault_yubiko_client_id }}
YUBICO_SECRET_KEY={{ vault_yubiko_secret_key }}
MYSQL_ROOT_PASSWORD={{ vault_bitwarden_mariadb_root_password }}
MYSQL_DATABASE=vaultwarden
MYSQL_USER=vault_user
MYSQL_PASSWORD={{ vault_bitwarden_mariadb_password }}
