NODE_ENV=production
PORT=3000
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=bookorbit
POSTGRES_PASSWORD={{ bookorbit_postgres_password }}
POSTGRES_DB=bookorbit
JWT_SECRET={{ bookorbit_jwt_token }}
SETUP_BOOTSTRAP_TOKEN={{ bookorbit_setup_bootstrap_token }}
APP_URL=https://bookorbit.moreaulab.ca
PUID={{ nas_puid }}
PGID={{ nas_pgid }}
NODE_MAX_OLD_SPACE_SIZE=2048
PGDATA=/var/lib/postgresql/data/pgdata
