services:
  prometheus:
    image: prom/prometheus:v3.12.0
    container_name: prometheus
    restart: unless-stopped
    ports:
      - 9090:9090
    networks:
      - monitoring_shared
    volumes:
      - ./config/:/etc/prometheus-config/:ro
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus-config/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle'

networks:
  monitoring_shared:
    name: monitoring_shared
    external: true

volumes:
  prometheus_data: