# Ansible Managed - PBS Client Credentials
PBS_REPOSITORY={{ vault_pbs_client_repository }}
PBS_PASSWORD={{ vault_pbs_client_password }}
{% if hostvars['lxc-pbs']['pbs_cert_fingerprint'] is defined %}
PBS_FINGERPRINT={{ hostvars['lxc-pbs']['pbs_cert_fingerprint'] }}
{% elif pbs_client_fingerprint is defined and pbs_client_fingerprint %}
PBS_FINGERPRINT={{ pbs_client_fingerprint }}
{% endif %}
