# Ansible Managed - PBS Client Credentials
PBS_REPOSITORY={{ vault_pbs_client_repository }}
PBS_PASSWORD={{ vault_pbs_client_password }}
{% if pbs_client_effective_fingerprint is defined and pbs_client_effective_fingerprint %}
PBS_FINGERPRINT={{ pbs_client_effective_fingerprint }}
{% endif %}
