[Unit]
Description=Traefik

[Container]
ContainerName=traefik
Image=traefik:v3.7.10
NoNewPrivileges=true
PublishPort=80:80
PublishPort=443:443
PublishPort=8443:8443
PublishPort=8080:8080
EnvironmentFile=/opt/docker/traefik/traefik.env
Volume=/opt/docker/traefik/traefik.yaml:/etc/traefik/traefik.yaml:ro
Volume=/opt/docker/traefik/conf.d:/etc/traefik/conf.d:ro
Volume=/opt/docker/traefik/acme.json:/etc/traefik/acme.json
Volume=/opt/docker/traefik/certs:/etc/traefik/certs

[Service]
Restart=always

[Install]
WantedBy=default.target
