services:
  database:
    container_name: essere_postgres
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - /data/postgres:/var/lib/postgresql/data
    networks:
      - directus_internal

  directus:
    container_name: essere_directus
    image: directus/directus:11
    ports:
      - "8055:8055"
    depends_on:
      - database
    restart: always
    environment:
      SECRET: ${DIRECTUS_SECRET}
      DB_CLIENT: pg
      DB_HOST: database
      DB_PORT: 5432
      DB_DATABASE: ${POSTGRES_DB}
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      ADMIN_EMAIL: ${ADMIN_EMAIL}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD}
      EMAIL_TRANSPORT: ${EMAIL_TRANSPORT}
      EMAIL_FROM: ${EMAIL_FROM}
      EMAIL_SMTP_HOST: ${EMAIL_SMTP_HOST}
      EMAIL_SMTP_PORT: ${EMAIL_SMTP_PORT}
      EMAIL_SMTP_USER: ${EMAIL_SMTP_USER}
      EMAIL_SMTP_PASSWORD: ${EMAIL_SMTP_PASSWORD}
      EMAIL_SMTP_SECURE: ${EMAIL_SMTP_SECURE}
      FLOWS_ENV_ALLOW_LIST: "TURNSTILE_SECRET_KEY"
      TURNSTILE_SECRET_KEY: ${TURNSTILE_SECRET_KEY}
    volumes:
      - /data/directus_uploads:/directus/uploads
    networks:
      - directus_internal
      - directus_external

  essere:
    container_name: essere_app
    image: essere-app:latest
    ports:
      - "3000:80"
    depends_on:
      - directus
    restart: always
    networks:
      - directus_external

networks:
  directus_internal:
    internal: true
  directus_external:
    internal: false