services:
  mariadb:
    image: lscr.io/linuxserver/mariadb:latest
    container_name: essere_db
    restart: unless-stopped
    expose:
      - 3306
    environment:
      - TZ=${TZ}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - /data/mariadb:/config
    networks:
      - wordpress_internal
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "--silent"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  nginx:
    image: lscr.io/linuxserver/nginx:latest
    container_name: essere
    restart: unless-stopped
    depends_on:
      mariadb:
        condition: service_healthy
    ports:
      - 80:80
    environment:
      - TZ=${TZ}
    volumes:
      - /data/nginx:/config
      - /data/wordpress:/config/www/
    networks:
      - wordpress_internal
      - wordpress_external

networks:
  wordpress_internal:
    internal: true
  wordpress_external:
    internal: false