services:
  db:
    image: mariadb:11.4.10
    container_name: wordpress-db
    user: {{ nas_puid }}:{{ nas_pgid }}
    volumes:
      - /data/mariadb:/var/lib/mysql
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    expose:
      - 3306
    networks:
      - wordpress_internal
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  nginx:
    image: lscr.io/linuxserver/nginx:latest
    container_name: wordpress-nginx
    environment:
      - PUID={{ nas_puid }}
      - PGID={{ nas_pgid }}
      - TZ={{ timezone | default('America/Toronto') }}
    volumes:
      - /data/nginx:/config
      - /data/wordpress:/config/www/
    ports:
      - 80:80
    restart: always
    depends_on:
      db:
        condition: service_healthy
    networks:
      - wordpress_internal
      - wordpress_external

networks:
  wordpress_internal:
    internal: true
  wordpress_external:
    internal: false