POSTGRES_DB={{ postgres_db }}
POSTGRES_USER={{ postgres_user }}
POSTGRES_PASSWORD={{ postgres_password }}
SECRET={{ directus_secret }}
DB_CLIENT=pg
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE={{ postgres_db }}
DB_USER={{ postgres_user }}
DB_PASSWORD={{ postgres_password }}
ADMIN_EMAIL={{ admin_email }}
ADMIN_PASSWORD={{ admin_password }}
EMAIL_TRANSPORT=smtp
EMAIL_FROM=info@essere.ca
EMAIL_SMTP_HOST=smtp.resend.com
EMAIL_SMTP_PORT=465
EMAIL_SMTP_USER=resend
EMAIL_SMTP_PASSWORD={{ mail_api_key }}
EMAIL_SMTP_SECURE=true
FLOWS_ENV_ALLOW_LIST=TURNSTILE_SECRET_KEY
TURNSTILE_SECRET_KEY={{ cloudflare_turnstile_secret_key }}
