http:
  routers:
    bookorbit:
      rule: "Host(`books.moreaulab.ca`)"
      entryPoints:
        - websecure
      tls:
        certResolver: cloudflare
      service: bookorbit

  services:
    bookorbit:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars['lxc-media']['ansible_host'] }}:3001"
