http:
  routers:
    calibre:
      rule: "Host(`books.moreaulab.ca`)"
      entryPoints:
        - websecure
      tls:
        certResolver: cloudflare
      service: calibre

  services:
    calibre:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars['lxc-media']['ansible_host'] }}:8083"
