http:
  routers:
    essere:
      rule: "Host(`essere.ca`) || Host(`www.essere.ca`)"
      entryPoints:
        - web
        - websecure
      tls:
        certResolver: cloudflare
      service: essere

  services:
    essere:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars['lxc-essere']['ansible_host'] }}:80"
