http:
  routers:
    filebrowser:
      rule: "Host(`filebrowser.moreaulab.ca`)"
      entryPoints:
        - websecure
      tls:
        certResolver: cloudflare
      service: filebrowser

  services:
    filebrowser:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars['lxc-media']['ansible_host'] }}:8080"
