http:
  routers:
    filebrowser:
      rule: "Host(`filebrowser.homelab.lan`)"
      entryPoints:
        - web
      service: filebrowser

  services:
    filebrowser:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars['lxc-media']['ansible_host'] }}:8080"
