http:
  routers:
    grafana:
      rule: "Host(`grafana.moreaulab.ca`)"
      entryPoints:
        - websecure
      tls:
        certResolver: cloudflare
      service: grafana

  services:
    grafana:
      loadBalancer:
        servers:
          # Grafana default port is 3000
          - url: "http://{{ hostvars['lxc-monitoring']['ansible_host'] }}:3000"