http:
  routers:
    homeassistant:
      rule: "Host(`ha.moreaulab.ca`)"
      entryPoints:
        - websecure
      tls:
        certResolver: cloudflare
      service: homeassistant

  services:
    homeassistant:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars['lxc-homeassistant']['ansible_host'] }}:8123"
