http:
  routers:
    homepage:
      rule: "Host(`home.moreaulab.ca`)"
      entryPoints:
        - websecure
      tls:
        certResolver: cloudflare
      service: homepage

  services:
    homepage:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars['lxc-tools']['ansible_host'] }}:3000"
