http:
  routers:
    immich:
      rule: "Host(`immich.moreaulab.ca`)"
      entryPoints:
        - websecure
      tls:
        certResolver: cloudflare
      service: immich

  services:
    immich:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars['lxc-immich']['ansible_host'] }}:2283"
