http:
  routers:
    jellyfin:
      rule: "Host(`jellyfin.moreaulab.ca`)"
      entryPoints:
        - websecure
      tls:
        certResolver: cloudflare
      service: jellyfin

  services:
    jellyfin:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars['lxc-media']['ansible_host'] }}:8096"
