http:
  routers:
    pbs:
      rule: "Host(`pbs.moreaulab.ca`)"
      entryPoints:
        - websecure
      tls:
        certResolver: cloudflare
      service: pbs

  services:
    pbs:
      loadBalancer:
        serversTransport: insecure-transport
        servers:
          - url: "https://{{ hostvars['lxc-pbs']['ansible_host'] }}:8007"
