http:
  routers:
    prometheus:
      rule: "Host(`prometheus.moreaulab.ca`)"
      entryPoints:
        - websecure
      tls:
        certResolver: cloudflare
      service: prometheus

  services:
    prometheus:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars['lxc-monitoring']['ansible_host'] }}:9090"