http:
  routers:
    service-watcher:
      rule: "Host(`service-watcher.moreaulab.ca`)"
      entryPoints:
        - websecure
      tls:
        certResolver: cloudflare
      service: service-watcher

  services:
    service-watcher:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars['lxc-media']['ansible_host'] }}:3000"
