http:
  routers:
    transmission:
      rule: "Host(`transmission.moreaulab.ca`)"
      entryPoints:
        - websecure
      tls:
        certResolver: cloudflare
      service: transmission

  services:
    transmission:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars['lxc-media']['ansible_host'] }}:9091"
