http:
  routers:
    umami:
      rule: "Host(`analytics.moreaulab.ca`)"
      entryPoints:
        - websecure
      tls:
        certResolver: cloudflare
      service: umami

  services:
    umami:
      loadBalancer:
        servers:
          - url: "http://{{ hostvars['lxc-essere']['ansible_host'] }}:{{ hostvars['lxc-essere'].get('umami_port', 3001) }}"
