services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    ports:
      - 8096:8096
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - JELLYFIN_PublishedServerUrl=${JELLYFIN_PublishedServerUrl}
    volumes:
      - /data/jellyfin:/config
      - /media/downloads/complete:/data/downloads:ro
      - /media/holidays:/data/holidays:ro
      - /media/kids:/data/kids:ro
      - /media/les-mills:/data/les-mills:ro
      - /media/movies:/data/movies:ro
      - /media/tv:/data/tv:ro
    restart: unless-stopped