[Unit]
Description=Jellyfin

[Container]
ContainerName=jellyfin
Image=lscr.io/linuxserver/jellyfin:10.11.11ubu2404-ls36
IP=10.88.0.241
PublishPort=8096:8096
EnvironmentFile=/opt/docker/jellyfin/jellyfin.env
Volume=/data/jellyfin:/config
Volume=/opt/docker/jellyfin/config/cache:/config/cache
Volume=/opt/docker/jellyfin/config/log:/config/log
Volume=/opt/docker/jellyfin/config/transcodes:/config/transcodes
Volume=/media/downloads/complete:/data/downloads:ro
Volume=/media/holidays:/data/holidays:ro
Volume=/media/kids:/data/kids:ro
Volume=/media/les-mills:/data/les-mills:ro
Volume=/media/movies:/data/movies:ro
Volume=/media/tv:/data/tv:ro

[Service]
Restart=always

[Install]
WantedBy=default.target
