ASPNETCORE_ENVIRONMENT={{ holefeeder_env }}
ASPNETCORE_URLS=http://+:5001
ConnectionStrings__BudgetingConnectionString=Host=127.0.0.1;Port=5432;Username={{ holefeeder_app_user }};Password={{ vault_holefeeder_postgres_app_password }};Database={{ holefeeder_app_db }};
