POSTGRES_DB={{ holefeeder_postgres_db }}
POSTGRES_USER={{ holefeeder_postgres_user }}
POSTGRES_PASSWORD={{ vault_holefeeder_postgres_password }}
POSTGRES_APP_USER={{ holefeeder_app_user }}
POSTGRES_APP_PASSWORD={{ vault_holefeeder_postgres_app_password }}
POSTGRES_APP_DB={{ holefeeder_app_db }}
