POWERSYNC_CONFIG_PATH=/config/powersync.yaml
PS_DB_HOST=127.0.0.1
PS_DB_PORT=5432
PS_DB_NAME={{ holefeeder_app_db }}
PS_DB_USER={{ holefeeder_app_user }}
PS_DB_PASSWORD={{ vault_holefeeder_postgres_app_password }}
PS_STORAGE_DB_HOST=127.0.0.1
PS_STORAGE_DB_PORT=5432
PS_STORAGE_DB_NAME={{ holefeeder_app_db }}
PS_STORAGE_DB_USER={{ holefeeder_app_user }}
PS_STORAGE_DB_PASSWORD={{ vault_holefeeder_postgres_app_password }}
PS_JWT_JWKS_URI=https://dev-vx1jio3owhaqdmqa.ca.auth0.com/.well-known/jwks.json
PS_JWT_AUDIENCE=https://holefeeder-api.drifterapps.app
PS_POWERSYNC_ADMIN_TOKEN={{ vault_holefeeder_powersync_admin_token }}
