ASPNETCORE_ENVIRONMENT={{ holefeeder_env }}
ASPNETCORE_HOSTINGSTARTUPASSEMBLIES=Microsoft.AspNetCore.SpaProxy
ASPNETCORE_URLS=http://+:5000
AngularSettings__RedirectUrl=https://holefeeder.{{ holefeeder_domain }}
