services:
  service-watcher:
    build: .
    container_name: service-watcher
    restart: unless-stopped
    ports:
      - 3000:3000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - .ssh/id_ed25519_qnap_monitor:/root/.ssh/id_ed25519_qnap_monitor:ro
    environment:
      - TZ=${TZ}
      - QNAP_IP=${QNAP_IP}
      - QNAP_USER=${QNAP_USER}
      - SSH_KEY_PATH=${SSH_KEY_PATH}
      - TARGETS=${TARGETS}
      - PORT=3000
    healthcheck:
      test:
        ["CMD-SHELL", "wget --spider http://localhost:3000/api/qnap || exit 1"]
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 30s
